build/*
!build/.hidden
RV32emu
*.mem
!microop.mem
riscv
test.vcd
transfer
opencores/library
opencores/uart
KISCV-quartus/*.swp
KISCV-quartus/*~
KISCV-quartus/c5_pin_model_dump.txt
KISCV-quartus/microop.hex
KISCV-quartus/microop_no_en.hex
KISCV-quartus/system.mif
KISCV-quartus/db
KISCV-quartus/incremental_db
KISCV-quartus/output_files
KISCV-quartus/simulation
KISCV-quartus/platform_designer
KISCV-quartus/.qsys_edit
!KISCV-quartus/.qsys_edit/preferences.xml
